@import url("https://fonts.googleapis.com/css2?family=Domine:wght@600&family=Roboto+Slab:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@media screen and (min-width: 1090px) {
  body .j {
    display: none;
  }
  body #footer {
    display: none;
  }
  body .l {
    display: flex;
  }
  body .l .logo_webApp_image {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }
  body .l .logo_webApp_image #logo_svg {
    padding: 10px;
    height: 60px;
  }
  body .l .logo_webApp_image #logo_svg #logo_svg_image {
    width: 20%;
    margin-left: 100px;
    padding: 10px;
  }
  body .l .logo_webApp_image #mockup {
    height: 900%;
    text-align: center;
  }
  body .l .logo_webApp_image #mockup #mockup_image {
    margin-top: 20px;
    width: 70%;
    height: 90%;
    box-shadow: #3a25f4 4px 5px 8px 7px;
  }
  body .l .logo_webApp_image .container {
    background-color: #3a25f4;
    color: white;
    height: 90%;
    font-family: "Domine", serif;
    font-family: "Roboto Slab", serif;
  }
  body .l .logo_webApp_image .container #b {
    margin-top: 20px;
    margin-left: 80px;
    width: 400px;
    height: 130px;
    padding: 8px;
  }
  body .l .logo_webApp_image .container #c {
    position: relative;
    left: 73%;
    bottom: 20px;
    display: flex;
    align-items: center;
    width: 175px;
    justify-content: space-around;
    margin-top: 20px;
  }
  body .l .logo_webApp_image .container #c #google_play {
    margin-right: 10px;
  }
  body .l #j {
    background: #f6f5fe;
    overflow: scroll;
    width: 50%;
    height: 100vh;
  }
  body .l #j .container2 {
    margin-top: 70px;
    margin-left: 80px;
    width: 60%;
  }
  body .l #j .container2 .back_arrow #back_button {
    border: none;
    outline: none;
    border-radius: 20px;
    background: #eae7fe;
    padding: 5px;
    cursor: pointer;
  }
  body .l #j .container2 .back_arrow #back_button #arrow_left_icon {
    color: #5645f5;
  }
  body .l #j .container2 #container1 {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }
  body .l #j .container2 #container1 #welcome_text {
    display: flex;
    flex-direction: column;
    font-size: 47px;
    color: #2b0079;
    font-family: "Space Grotesk", sans-serif;
  }
  body .l #j .container2 #container1 #welcome_text #emoji {
    font-size: 47px;
    padding: 5px;
  }
  body .l #j .container2 #container1 #p_tag {
    font-size: 19px;
    color: #5a5675;
    margin-top: 20px;
    line-height: 30px;
    font-family: "Karla", sans-serif;
  }
  body .l #j .container2 .from_container {
    margin-top: 27px;
  }
  body .l #j .container2 .from_container .email_container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  body .l #j .container2 .from_container .email_container #email_label {
    color: #2b0079;
    margin-bottom: 10px;
    font-family: "Karla", sans-serif;
    font-size: 13px;
  }
  body .l #j .container2 .from_container .email_container #email_input {
    border: 1px solid #d3cffb;
    outline: none;
    width: 100%;
    height: 50px;
    padding: 20px;
    border-radius: 4px;
  }
  body .l #j .container2 .from_container .button_container {
    margin-top: 200px;
  }
  body .l #j .container2 .from_container .button_container #reset_button {
    outline: none;
    border: none;
    width: 209px;
    height: 57px;
    background-color: #5645f5;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 10px;
    cursor: no-drop;
  }
  body .l #j .container2 .from_container .button_container .text_login_link_container {
    display: flex;
    align-items: center;
    margin-top: 30px;
  }
  body .l #j .container2 .from_container .button_container .text_login_link_container #link_label {
    color: #2b0079;
    font-size: 15px;
    font-family: "Karla", sans-serif;
  }
  body .l #j .container2 .from_container .button_container .text_login_link_container #link {
    text-decoration: none;
    color: #5645f5;
    font-size: 15px;
    font-weight: 700;
    margin-left: 5px;
    font-family: "Karla", sans-serif;
  }
}
@media screen and (max-width: 1080px) {
  #d {
    display: none;
  }
  body {
    background: #f6f5fe;
  }
  .j {
    width: 1080px;
    overflow: scroll;
  }
  .image_header,
  #image_header {
    box-shadow: 0px 1px 19px #3a25f4;
    height: 200px;
    width: 1080px;
  }
  .image_header .logo_header,
  #image_header .logo_header {
    margin-top: 70px;
    margin-left: 30px;
    width: 270px;
  }
  .back_arrow {
    width: 95%;
    margin: auto;
    margin-top: 10px;
  }
  #back_button {
    border: none;
    outline: none;
    border-radius: 20px;
    background: transparent;
    height: 100px;
    cursor: pointer;
  }
  #arrow_left_icon {
    color: #5645f5;
    font-size: 70px;
  }
  .container2 {
    width: 95%;
    margin: auto;
    margin-top: 10px;
    border: 1px solid red;
  }
  #container1 {
    margin-top: 0px;
    height: 200px;
  }
  #welcome_text {
    display: flex;
    align-items: center;
    font-size: 70px;
    color: #2b0079;
    font-family: "Space Grotesk", sans-serif;
  }
  #p_tag {
    font-size: 50px;
    font-weight: 400;
    color: #5a5675;
    line-height: 50px;
    margin-top: 20px;
    font-family: "Karla", sans-serif;
  }
  #email_container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  #email_label {
    font-size: 40px;
    color: #2b0079;
    margin-bottom: 20px;
    font-family: "Karla", sans-serif;
  }
  #email {
    border: 5px solid #d3cffb;
    outline: none;
    width: 100%;
    height: 130px;
    padding: 40px;
    border-radius: 10px;
    font-size: 40px;
    font-family: "Karla", sans-serif;
  }
  #email:focus {
    border: 1px solid #5645f5;
    background: #eae7fe;
  }
  #forget_button_link {
    margin-left: 290px;
    text-align: end;
  }
  a {
    text-decoration: none;
    color: #3a25f4;
    font-size: 40px;
    font-family: "Karla", sans-serif;
    font-weight: bold;
  }
  #login_button {
    outline: none;
    border: none;
    width: 100%;
    height: 130px;
    background-color: #5645f5;
    color: white;
    font-size: 41px;
    font-weight: bold;
    border-radius: 9px;
    margin-top: 200px;
    opacity: 0.5;
  }
  #signup_link {
    margin-top: 40px;
    text-align: center;
  }
  #link_label {
    color: #5a5675;
    font-size: 45px;
    font-family: "Karla", sans-serif;
  }
  #link {
    text-decoration: none;
    color: #3a25f4;
    font-size: 45px;
    font-weight: 700;
    font-family: "Karla", sans-serif;
  }
  #footer {
    font-family: "Karla", sans-serif;
    position: fixed;
    bottom: 0;
    box-shadow: 0px 1px 19px #3a25f4;
    width: 1080px;
  }
  .close_icon_container {
    text-align: end;
  }
  #close_button {
    margin-right: 40px;
    width: 90px;
    outline: none;
    border: none;
    background: transparent;
  }
  #close_icon {
    font-size: 70px;
    color: #3a25f4;
  }
  #footer1 {
    display: flex;
    flex-direction: column;
  }
  .store_download {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
  }
  #apple_download_button {
    background-color: #2b0079;
    border: 1px solid red;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    margin-right: 20px;
  }
  #google_download_button {
    background-color: #2b0079;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
  }
  a {
    color: white;
    text-decoration: none;
  }
}/*# sourceMappingURL=forgetpassword.css.map */