@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,600&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to right, #dbc9f0, #f9efe6);
  background-repeat: no-repeat;
}
@media screen and (min-width: 1090px) {
  .content_container_android {
    display: none;
  }
  .Copyright_social_media_container_android {
    display: none;
  }
  .content_container {
    max-width: 1280px;
    margin: auto;
  }
  .header_logo_container {
    width: 766px;
    margin: auto;
    text-align: center;
    #image_logo {
      width: 200px;
      padding: 30px;
    }
  }
  .info_text_container {
    max-width: 766px;
    margin: auto;
    text-align: center;
    #info_text {
      color: rgb(7, 8, 48);
      font-size: 72px;
      font-family: "Space Grotesk", sans-serif;
    }
    .sign {
      text-align: end;
    }
  }
  .description_about_container {
    width: 766px;
    margin: auto;
    line-height: 40px;
    text-align: center;
    #description_about_text {
      color: rgb(7, 8, 48);
      font-size: 24px;
      font-family: "Karla", sans-serif;
    }
    #company_name {
      color: rgb(7, 8, 48);
      font-size: 24px;
      font-weight: bolder;
    }
  }

  .form_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 766px;
    margin: auto;
    padding: 5px;

    #content {
      display: flex;
      flex-direction: column;
    }
    #email_label {
      font-size: 16px;
      color: rgb(7, 8, 48);
      font-family: "Karla", sans-serif;
      line-height: 24px;
    }
    #email_address {
      outline: none;
      border: none;
      height: 65px;
      padding: 16px;
      width: 400px;
      font-family: "Karla", sans-serif;
      border-radius: 5px;
    }
    #email_address:focus {
      border: 2px solid #5645f5;
      background: #eae7fe;
    }
    .join_button_container {
      display: flex;
      align-items: center;
    }
    #join_button {
      background-color: #5645f5;
      outline: none;
      border: none;
      border-radius: 5px;
      color: white;
      font-family: "Karla", sans-serif;
      height: 65px;
      width: 200px;
      font-size: 16px;
      font-weight: bolder;
      opacity: 0.5;
      margin-left: 30px;
      cursor: not-allowed;
    }
  }
  .mockups_container {
    text-align: center;
    #mockups_image {
      margin: 0px;
      padding: 0px;
    }
  }

  .swap_multi_secure_container {
    background-color: #1a004a;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 290px;
    border-bottom: 10px solid #7c6ef7;
    .Swap_currency_container,
    .Multi-Wallets_container,
    .Secured_transaction_container {
      display: flex;
      flex-direction: column;
      width: 290px;

      #Swap_currency_icon,
      #Multi-Wallets_icon,
      #Secured_transaction_icon {
        display: flex;
        align-items: center;
      }
      #title {
        text-align: center;
        font-size: 24px;
        font-family: "Space Grotesk", sans-serif;
        line-height: 35px;
      }
      #text {
        margin: auto;
        font-size: 16px;
        font-family: "Karla", sans-serif;
        width: 200px;
        line-height: 23px;
      }
    }
  }
  .Copyright_social_media_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    color: black;
    height: 100px;
    font-family: "Karla", sans-serif;
  }
}
// Android//
@media screen and (max-width: 1080px) {
  .content_container {
    display: none;
  }
  .footer_container {
    display: none;
  }
  // .content_container_android {
  // }
  .header_logo_container_android {
    text-align: center;
    padding: 20px;
    margin: auto;
    margin-top: 10px;
  }
  #image_logo_android {
    width: 160px;
  }
  .info_text_container_android {
    text-align: center;
    width: 90%;
    margin: auto;
    margin-top: 20px;
  }
  #info_text_android {
    font-family: "Space Grotesk", sans-serif;
    line-height: 50px;
    font-size: 41px;
    color: rgb(7, 3, 48);
  }
  .description_about_container_android {
    text-align: center;
    width: 90%;
    margin: auto;
    margin-top: 30px;
  }
  #description_about_text {
    line-height: 25px;
    font-size: 15px;
    font-family: "Karla", sans-serif;
    color: rgb(7, 3, 48);
    text-align: center;
  }
  #company_name_android {
    font-weight: bolder;
  }
  .form_container_android {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-top: 30px;
  }
  #email_label_android {
    line-height: 30px;
    font-size: 16px;
    font-family: "Karla", sans-serif;
    color: rgb(7, 3, 48);
    font-weight: bolder;
  }
  #email_address_android {
    outline: none;
    border: 2px solid #5645f5;
    padding: 10px;
    height: 60px;
    border-radius: 4px;
    font-size: 14px;
    font-family: "Karla", sans-serif;
  }
  .join_button_container_icon_android {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
  }
  #join_button_android {
    background-color: #5645f5;
    outline: none;
    border: none;
    border-radius: 4px;
    color: white;
    font-family: "Karla", sans-serif;
    height: 60px;
    width: 200px;
    font-size: 16px;
    font-weight: bolder;
    opacity: 0.5;

    cursor: not-allowed;
  }
  #h {
    margin: auto;
    margin-top: 30px;
  }
  .mockups_container_android {
    text-align: center;

    margin: auto;
    margin-top: 30px;
  }
  .swap_multi_secure_container_android {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 -55px 550px -5px #1a004a;
  }
  .Swap_currency_container_android,
  .Multi-Wallets_container_android,
  .Secured_transaction_container_android {
    background-color: #1a004a;
    color: white;
    width: 90%;
    height: 200px;
    padding: 10px;
    border-radius: 30px;
    margin: auto;
    margin-top: 20px;
    border-right: 5px solid #fadba2;
    border-bottom: 5px solid #fadba2;
  }
  #Swap_currency_icon_android,
  #Multi-Wallets_icon_android,
  #Secured_transaction_icon_android {
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
  }
  #title {
    margin: 10px;
    font-family: "Space Grotesk", sans-serif;
    font-size: 16px;
  }
  #text {
    font-family: "Karla", sans-serif;
    font-size: 14px;
    width: 200px;
    line-height: 24px;
    margin-left: 60px;
  }
  .Copyright_social_media_container_android {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    background-color: white;
    font-family: "Karla", sans-serif;
  }
  #link {
    margin-right: 10px;
  }
}
