@import url("https://fonts.googleapis.com/css2?family=Domine:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

@media screen and (min-width: 1090px) {
  .android_container {
    display: none;
  }
  .linktree_container {
    display: none;
  }
  #blur5 {
    background-image: linear-gradient(to right, #dad6fc, rgba(201, 190, 190, 0.824));
    font-family: "Domine", serif;
  }
  #blur5 .blur1,
  #blur5 .blur2,
  #blur5 .blur3,
  #blur5 .blur4,
  #blur5 .blur5 {
    cursor: not-allowed;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
  }
  #blur5 header {
    margin: auto;
    width: 50%;
    padding: 15px;
    border-radius: 50px;
  }
  #blur5 header #menu_button {
    background-color: rgb(219, 225, 231);
    position: relative;
    left: 90%;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 30px;
  }
  #blur5 header #menu_button:hover {
    background: rgba(215, 219, 223, 0.713);
  }
  #blur5 main {
    width: 46%;
    margin: auto;
    margin-top: 10px;
  }
  #blur5 main .title {
    text-align: center;
    padding: 10px;
  }
  #blur5 main .iphone_ipad,
  #blur5 main .android_button,
  #blur5 main .web_app,
  #blur5 main .web_side {
    height: 57px;
    margin: 10px;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  #blur5 main .iphone_ipad #iphone_ipad_button,
  #blur5 main .iphone_ipad #android_button,
  #blur5 main .iphone_ipad #web_app_button,
  #blur5 main .iphone_ipad #webside_button,
  #blur5 main .android_button #iphone_ipad_button,
  #blur5 main .android_button #android_button,
  #blur5 main .android_button #web_app_button,
  #blur5 main .android_button #webside_button,
  #blur5 main .web_app #iphone_ipad_button,
  #blur5 main .web_app #android_button,
  #blur5 main .web_app #web_app_button,
  #blur5 main .web_app #webside_button,
  #blur5 main .web_side #iphone_ipad_button,
  #blur5 main .web_side #android_button,
  #blur5 main .web_side #web_app_button,
  #blur5 main .web_side #webside_button {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
  }
  #blur5 main .iphone_ipad #iphone_ipad_button #icon,
  #blur5 main .iphone_ipad #android_button #icon,
  #blur5 main .iphone_ipad #web_app_button #icon,
  #blur5 main .iphone_ipad #webside_button #icon,
  #blur5 main .android_button #iphone_ipad_button #icon,
  #blur5 main .android_button #android_button #icon,
  #blur5 main .android_button #web_app_button #icon,
  #blur5 main .android_button #webside_button #icon,
  #blur5 main .web_app #iphone_ipad_button #icon,
  #blur5 main .web_app #android_button #icon,
  #blur5 main .web_app #web_app_button #icon,
  #blur5 main .web_app #webside_button #icon,
  #blur5 main .web_side #iphone_ipad_button #icon,
  #blur5 main .web_side #android_button #icon,
  #blur5 main .web_side #web_app_button #icon,
  #blur5 main .web_side #webside_button #icon {
    width: 40px;
  }
  #blur5 main .iphone_ipad #iphone_ipad_button #label,
  #blur5 main .iphone_ipad #android_button #label,
  #blur5 main .iphone_ipad #web_app_button #label,
  #blur5 main .iphone_ipad #webside_button #label,
  #blur5 main .android_button #iphone_ipad_button #label,
  #blur5 main .android_button #android_button #label,
  #blur5 main .android_button #web_app_button #label,
  #blur5 main .android_button #webside_button #label,
  #blur5 main .web_app #iphone_ipad_button #label,
  #blur5 main .web_app #android_button #label,
  #blur5 main .web_app #web_app_button #label,
  #blur5 main .web_app #webside_button #label,
  #blur5 main .web_side #iphone_ipad_button #label,
  #blur5 main .web_side #android_button #label,
  #blur5 main .web_side #web_app_button #label,
  #blur5 main .web_side #webside_button #label {
    margin: auto;
  }
  #blur5 main .iphone_ipad #apple_share,
  #blur5 main .iphone_ipad #android_share,
  #blur5 main .iphone_ipad #webApp_button,
  #blur5 main .iphone_ipad #webSide_button,
  #blur5 main .android_button #apple_share,
  #blur5 main .android_button #android_share,
  #blur5 main .android_button #webApp_button,
  #blur5 main .android_button #webSide_button,
  #blur5 main .web_app #apple_share,
  #blur5 main .web_app #android_share,
  #blur5 main .web_app #webApp_button,
  #blur5 main .web_app #webSide_button,
  #blur5 main .web_side #apple_share,
  #blur5 main .web_side #android_share,
  #blur5 main .web_side #webApp_button,
  #blur5 main .web_side #webSide_button {
    display: none;
    position: relative;
    bottom: 50px;
    left: 590px;
    border: none;
    outline: none;
    height: 40px;
    width: 40px;
    border-radius: 40px;
  }
  #blur5 main #iphone_ipad_button:hover {
    transform: scale(1.1);
    box-shadow: rgba(10, 11, 13, 0.08) 0px 2px 4px 0px;
  }
  #blur5 main #android_button:hover {
    transform: scale(1.1);
    box-shadow: rgba(10, 11, 13, 0.08) 0px 2px 4px 0px;
  }
  #blur5 main #web_app_button:hover {
    transform: scale(1.1);
    box-shadow: rgba(10, 11, 13, 0.08) 0px 2px 4px 0px;
  }
  #blur5 main #webside_button:hover {
    transform: scale(1.1);
    box-shadow: rgba(10, 11, 13, 0.08) 0px 2px 4px 0px;
  }
  #blur5 main #blur3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  #blur5 main #blur3 #mail,
  #blur5 main #blur3 #facebook,
  #blur5 main #blur3 #instagram,
  #blur5 main #blur3 #linkedin,
  #blur5 main #blur3 #twitter {
    width: 30px;
    height: 30px;
    margin: 10px;
  }
  #blur5 main #mail:hover {
    transform: scale(1.1);
    box-shadow: rgba(10, 11, 13, 0.08) 0px 2px 4px 0px;
  }
  #blur5 main #facebook:hover {
    transform: scale(1.1);
    box-shadow: rgba(10, 11, 13, 0.08) 0px 2px 4px 0px;
  }
  #blur5 main #instagram:hover {
    transform: scale(1.1);
    box-shadow: rgba(10, 11, 13, 0.08) 0px 2px 4px 0px;
  }
  #blur5 main #linkedin:hover {
    transform: scale(1.1);
    box-shadow: rgba(10, 11, 13, 0.08) 0px 2px 4px 0px;
  }
  #blur5 main #twitter:hover {
    transform: scale(1.1);
    box-shadow: rgba(10, 11, 13, 0.08) 0px 2px 4px 0px;
  }
  #blur5 footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
  }
  #blur5 footer #linktree {
    font-size: 20px;
    color: rgb(0, 0, 0);
  }
  #blur5 .share {
    display: none;
    flex-direction: column;
    align-items: stretch;
    background: white;
    overflow: scroll;
    position: fixed;
    bottom: 0px;
    left: 530px;
    height: 100%;
    width: 400px;
    margin: auto;
    border-radius: 20px;
  }
  #blur5 .share .subtitle .dd {
    display: flex;
    justify-content: center;
    padding: 30px;
    margin: 5px;
  }
  #blur5 .share .subtitle #close_button {
    background: none;
    position: absolute;
    left: 340px;
    bottom: 93%;
    outline: none;
    border: none;
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
  }
  #blur5 .share .subtitle #close_button #close_icon {
    font-size: 20px;
  }
  #blur5 .share .subtitle #close_button:hover {
    background: rgba(209, 217, 224, 0.248);
  }
  #blur5 .share .social-media_plaform {
    padding: 4px;
    margin: 5px;
    line-height: 40px;
    margin-top: 13px;
  }
  #blur5 .share #social-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    color: rgb(10, 11, 13);
  }
  #blur5 .share #social-media #snapchat,
  #blur5 .share #social-media #facebook,
  #blur5 .share #social-media #linkedin,
  #blur5 .share #social-media #twitter,
  #blur5 .share #social-media #whatsapp,
  #blur5 .share #social-media #messenger,
  #blur5 .share #social-media #email {
    width: 25px;
    height: 25px;
  }
  #blur5 .share #social-media:hover {
    background-color: rgba(209, 217, 224, 0.248);
  }
  #blur5 .share .copy_link_button {
    display: block;
    margin: auto;
    outline: none;
    background: none;
    border-radius: 10px;
    width: 330px;
    border: 1px solid rgb(224, 226, 217);
    cursor: pointer;
  }
  #blur5 .share .copy_link_button .copy_link {
    display: flex;
    align-items: center;
    border-radius: 10px;
  }
  #blur5 .share .copy_link_button .copy_link .flex_1 {
    display: flex;
    align-items: center;
    width: 250px;
    padding: 7px;
    border-radius: 10px;
  }
  #blur5 .share .copy_link_button:hover {
    background-color: rgba(209, 217, 224, 0.248);
  }
  #blur5 .share #report_link {
    display: flex;
    text-decoration: none;
    margin-top: 15px;
    border-top: 1px solid rgb(224, 226, 217);
    color: rgb(10, 11, 13);
  }
  #blur5 .share #report_link .report_link {
    display: flex;
    align-items: center;
  }
  #blur5 .share #report_link .report_link #report_link2 {
    display: flex;
    align-items: center;
    width: 300px;
    padding: 5px;
    margin-left: 27px;
  }
  #blur5 .share #report_link:hover {
    background-color: rgba(209, 217, 224, 0.248);
  }
  #blur5 .share .sign_in_linktree {
    border-top: 1px groove rgba(0, 0, 0, 0.632);
    margin: auto;
    padding: 15px;
  }
  #blur5 .share .sign_in_linktree #sign_in_linktree {
    text-align: start;
    display: flex;
    flex-direction: column;
  }
  #blur5 .share .sign_in_linktree #sign_in_linktree #title {
    padding: 3px;
    line-height: 22px;
  }
  #blur5 .share .sign_in_linktree #sign_in_linktree #sign_up_button {
    background: black;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    margin-top: 10px;
  }
  #blur5 .share .sign_in_linktree #sign_in_linktree #find_more_button {
    background: none;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    margin-top: 10px;
    border: 1px solid rgb(224, 226, 217);
  }
  #blur5 .share .sign_in_linktree #sign_in_linktree #find_more_button:hover {
    background-color: rgba(209, 217, 224, 0.248);
  }
}
@media screen and (max-width: 1090px) {
  body {
    background-image: linear-gradient(to right, #dad6fc, rgba(201, 190, 190, 0.824));
  }
  #blur1 {
    display: none;
  }
  #blur2 {
    display: none;
  }
  #blur3 {
    display: none;
  }
  #none {
    display: none;
  }
  .share {
    display: none;
  }
  .android_container {
    margin: auto;
    width: 95%;
    margin-top: 10px;
  }
  .more_button_container {
    text-align: end;
  }
  #more_button {
    outline: none;
    border: none;
    border-radius: 20px;
    width: 30px;
    height: 30px;
  }
  #more_image {
    width: 15px;
    height: 15px;
  }
  .description_container {
    text-align: center;
  }
  #description_image {
    width: 15%;
    height: 15%;
    border-radius: 230px;
  }
  #description_title {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    margin-top: 20px;
  }
  #description {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 10px;
  }
  .apple_container {
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    box-shadow: rgba(10, 11, 13, 0.08) 0px 2px 4px 0px;
    margin-top: 20px;
    border-radius: 5px;
  }
  #apple_link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
  }
  #apple_logo {
    width: 40px;
    height: 40px;
    margin: 5px;
  }
  #apple_label {
    font-size: 16px;
    margin: 10px;
    font-family: "Inter", sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 400;
  }
  #button_apple_link {
    outline: none;
    border: none;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    margin: 5px;
  }
  #apple_image {
    width: 15px;
    height: 15px;
  }
  a {
    text-decoration: none;
  }
  .google_container {
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 15px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: rgba(10, 11, 13, 0.08) 0px 2px 4px 0px;
  }
  #google_link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
  }
  #google_logo {
    width: 40px;
    height: 40px;
    margin: 5px;
  }
  #google_label {
    font-size: 16px;
    margin: 10px;
    font-family: "Inter", sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 400;
  }
  #google_button {
    outline: none;
    border: none;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    margin: 5px;
  }
  #google_image {
    width: 15px;
    height: 15px;
  }
  .social_media_container {
    text-align: center;
    margin-top: 35px;
  }
  #mail,
  #facebook,
  #instagram,
  #linkedin,
  #twitter::before {
    content: "";
    margin: 6px;
  }
  .linktree_container {
    margin: auto;
    width: 100%;
    position: fixed;
    bottom: 0px;
    height: 90px;
  }
  #linktree_container {
    width: 95%;
    margin: auto;
    height: 90px;
  }
  #link_to_linktree {
    margin: auto;
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    padding: 30px;
  }
  #linktree_label {
    color: black;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    font-size: 20px;
  }
}/*# sourceMappingURL=style.css.map */